.div-padding {
  padding-top: 60px
}

.vis-padding {
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px
}

.img-box {
  border: 3px solid #000;
  border-radius: 20px;
  border-color: #4aaaa5;
}

.title {
  background-color: #4aaaa5;
  text-align: center;
}

.title-text {
  font-weight: bold;
  font-size: 25px;
}

h1 {
  color: #4aaaa5;
}

h2 {
  color: #4aaaa5;
}

.col-sm-12 {
  padding-top: 20px;
}
